<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group22_hw07">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListEditUsersActivity"></activity>
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".EditTripActivity" />
        <activity android:name=".TripDetailsActivity" />
        <activity android:name=".CreateTripActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ListUsersActivity" />
        <activity
            android:name=".ViewTripsActivity"
            android:label="@string/title_activity_view_trips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>